@import './../utils/var.scss';

.nt-home-page {
  color: $primary-text-color;

  .nl-footer-text {
    color: $secondary-bg-color;
    font-size: 0.875rem;
  }

  .nt-roi {
    color: $primary-bg-color;
    font-weight: bold;
  }

  .nt-link {
    @extend .nt-mr-2;
    @media screen and (max-width: $small-screen) {
      margin: 0;
    }
  }
}
