$primary-bg-color: #6964d8;
$border-color: #d2cefd;
$secondary-bg-color: #adadad;
$primary-text-color: #333333;
$secondary-text-color: #ffffff;
$font-family: Roboto,sans-serif;
$link-color: #00c88f;
$small-screen: 600px;
$i: 8;
@while $i > 0 {
  .nt-font-#{$i} {
    font-size: 4rem / $i;
  }

  .nt-ma-#{$i} {
    margin: 4rem / $i;
  }

  .nt-mt-#{$i} {
    margin-top: 4rem / $i;
  }

  .nt-mr-#{$i} {
    margin-right: 4rem / $i;
  }

  .nt-mb-#{$i} {
    margin-bottom: 4rem / $i;
  }

  .nt-ml-#{$i} {
    margin-left: 4rem / $i;
  }
  $i: $i - 1;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.nl-select {
  width: 100%;
  padding: 0.3125rem 2.1875rem 0.3125rem 1rem;
  font-size: 0.9rem;
  border: 2px solid $border-color;
  border-radius: 0.3rem;
  height: 3rem;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/img/down-arrow.png") 96% / 15% no-repeat transparent;
  background-size: 1.5rem;
}

.nl-label {
  font-size: 1rem;
  @extend .nt-mt-4;
  @extend .nt-mb-4;
  @extend .bold;
}

.nt-row {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }

  .nt-row-item {
    flex: 1;
    @media screen and (max-width: $small-screen) {
      padding: 1rem 0;
    }
  }

  .nt-left-row-padding {
    padding: 1rem 1rem 1rem 0;
    @media screen and (max-width: $small-screen) {
      padding: 1rem 0;
    }
  }

  .nt-right-row-padding {
    padding: 1rem 0 1rem 1rem;
    @media screen and (max-width: $small-screen) {
      padding: 1rem 0;
    }
  }
}

.nt-row-unchanged {
  display: flex;
  flex-direction: row;

  .nt-row-item {
    flex: 1;
  }
}


.nl-primary-btn {
  background-color: $primary-bg-color;
  color: $secondary-text-color;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  outline: 0;
  border: 1px solid $primary-bg-color;
  padding: 0.8125rem 2.1875rem;
  border-radius: 1.5625rem;
}

.nl-primary-link {
  font-weight: bold;
  cursor: pointer;
  color: $link-color;
  border-bottom: 2px solid $link-color;
  text-decoration: none;
}

.nl-flex-center {
  align-items: center;
}
